* {
  color: black;
}

main {
  background: linear-gradient(to top right, plum, white);
}

.bas {
  height: 100%;
  display: flex;
  align-items: center;
}
.personnage {
  width: 20vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px crimson;
  margin: 0 20px;
  text-align: center;
}

/* ! SECTION DE LA NAV BAR */
nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, plum, white);
  border-radius: 50px;
}

nav a {
  margin: 0 10px;
}

nav a:hover {
  cursor: pointer;
  color: plum;
}

nav a img {
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
}

.Body {
  margin-top: 50px;
  text-align: center;
}
